extends ../node_modules/jade-bootstrap/layouts/starter


append body
	.container
		.row
			.col-md-4.col-sm-6.col-xs-12
				.panel.panel-warning
				.panel-heading Opposing Pokemon
				.panel-body
					for pokemon in opposingPokemon
						img(src= pokemon.url width=30 height=30)
						b= pokemon.name
						br