extends ../node_modules/jade-bootstrap/layouts/starter


append body
	.container
		h1 My Pokemon
		ul
		for m in myPokemon
			li= m
		else
			#[span Looks like you do not have any saved Pokemon. Go ] #[a(href="/saved") save some here.]
		